@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;







@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-33.33%); }
}

@keyframes scroll-right {
  0% { transform: translateX(-33.33%); }
  100% { transform: translateX(0); }
}

.animate-scroll-left {
  animation: scroll-left 110s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 110s linear infinite;
}



/* @keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
} */
